
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--navbar-->




<nav class="navbar navbar-inverse navbar-bg container">


			
				
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>                        
    </button>
  </div>	
  <div class="navbar-header">
<img src="logo.png" alt="logo not found">
</div> 
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <!-- <li><a routerLink=""><i class="material-icons hClass" >home</i>Home</a></li> -->
      <li><a routerLink=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a routerLink="buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></li>
      <li><a href="#">Gift</a></li>
      <li><a href="#">Sell</a></li>
      <li><a href="#">Delivery</a></li>
      <li><a href="#">Saving Plan</a></li>
    </ul>
    <div class="btn-group navbar-right navbar-right1 sub-nav">
        <li><div class="imageLast"></div><span class="glyphicon glyphicon-chevron-down"></span></li>
      <li><a href="#">Help & Support</a></li>
     
    </div>
  </div>




</nav>

<router-outlet></router-outlet>

<!--navbar-->