.navbar-right1 li {display: inline-block !important;float: right;margin-left: 10px;padding: 18px;}
.navbar-right, .navbar-nav li a{ font-size: 16px !important;}
.hClass { position: relative; top: 3px; left: -15px; height: 7px; width: 7px;}
body{ background-color: #fcfcfc;}