<div class="container">
	<div class="col-md-8 col1">
	<label class="heading">Welcome to SafeGold</label>
	<div class="row">
		<div class="col-md-12 labelBox">
		<section class=" col-md-8">
			<label class="lb1">Make your first gold purchase</label>
			<label class="lb2">You can buy in amouts as low as ₹1</label>			
			<p><span class="lb3"><a routerLink="buy"> Get Started <i class="fa fa-long-arrow-right"></i> </a></span></p>
			</section>
		</div>
	</div>
	<div class="row row2">
		<div class="row">
			<div class="col-md-12">
			<label>Do more with gold</label>	
			</div>
			
		</div>
		<div class="col-md-6 imgPad">
		<div class="bgImg img-responsive"></div>
			
		</div>
		<div class="col-md-6 Cplan">
			<label>Create you Gold Saving Plan</label>
			<p>Get attractive gifts after completing 6 month</p>
			<button class="btn btn1"> Click here </button>
		</div>
	</div>
		
	</div>
	<div class="col-md-4 col2">
	<figcaption>Learn More</figcaption>
		<img src="{{img1}}" alt="image not found" class="img-responsive">
		<li>How does Digital Gold work?<span>(3.23)</span></li>
		<li>How does Digital Gold work?<span>(3.23)</span></li>
		<div class="faq">
			<label>Frequently Asked Question</label>
			<p>How is the purity of gold ensured?  <span class="glyphicon glyphicon-chevron-right"></span></p>
			<p>What is the live gold price?  <span class="glyphicon glyphicon-chevron-right"></span></p>
		</div>
	</div>
</div>